* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  background-size: cover;
  color: white; 
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}

header {
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  background-size: 100% 80%;
}

h1 {
  color: #FFFFFF;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  color: #FFFFFF;
}

.planet {
  width: 1500px ;
  height: 2000px;
  background: radial-gradient(circle, rgba(0,36,36,1) 0%, rgba(0,255,17,1) 37%, rgba(0,36,36,1) 66%);  background-repeat: no-repeat;
}

textarea {
  width: 500px;
  height: 100px;
  border-radius: 10px;
  border: rgb(15, 15, 15);
  outline: none;
  font-size: 30px;
  color: rgb(6, 156, 56);
  padding: 10px; 
  margin-bottom: 10px;

}

.button {
  background: #4DF63D;
  background-image: -webkit-linear-gradient(top, #4DF63D, #25272B);
  background-image: -moz-linear-gradient(top, #4DF63D, #25272B);
  background-image: -ms-linear-gradient(top, #4DF63D, #25272B);
  background-image: -o-linear-gradient(top, #4DF63D, #25272B);
  background-image: linear-gradient(to bottom, #4DF63D, #25272B);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  box-shadow: 4px 1px 20px 0px #99C624;
  -webkit-box-shadow: 4px 1px 20px 0px #99C624;
  -moz-box-shadow: 4px 1px 20px 0px #99C624;
  text-shadow: -10px 1px 20px #99C624;
  border: solid #000000 2px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}
  
.button:hover {
  border: solid #000000 2px;
  background: #C2F63D;
  background-image: -webkit-linear-gradient(top, #C2F63D, #0C121C);
  background-image: -moz-linear-gradient(top, #C2F63D, #0C121C);
  background-image: -ms-linear-gradient(top, #C2F63D, #0C121C);
  background-image: -o-linear-gradient(top, #C2F63D, #0C121C);
  background-image: linear-gradient(to bottom, #C2F63D, #0C121C);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 4px;
  text-decoration: none;
}